
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @staff.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @staff.email %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @staff.hp %>
</p>

<% if @staff.assets.count > 0 %>
	<table>
	  <thead>
	    <tr>
	      <th>Asset Type</th>
	      <th>Asset Serial</th>
	      <th>Asset Tag</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @staff.assets.each do |a| %>
	      <tr>
	        <td><%= a.asset_type %></td>
	        <td><%= a.serial%></td>
	        <td><%= a.tag %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	<br>
<% else %>
	<h3>Sorry, you are not holding any MaGIC's asset</h3>
<% end %>

<%= link_to 'Show', @staff %> |
<%= link_to 'Back', staffs_path %>