<p id="notice"><%= notice %></p>

<p>
  <strong>Serial:</strong>
  <%= @asset.serial %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @asset.tag %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @asset.staff %>
</p>

<p>
  <strong>Product:</strong>
  <%= @asset.product %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
